html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter';
}

.navbar {
  background: #2971C7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

img {
  height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#navbar__logo {
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
height: 100px;
width: 150px;
}

.navbar__p {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2971C7;
  color: #fff;
}

.button:hover {
  background: #1C1997;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #797979;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #2971C7;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

    #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.footer__container {
  background: #2971C7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

.social__icons--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__icons {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  font-size: 50px;
}

.fa-instagram:hover {
  color: #797979 !important;
  transition: all 0.3s ease-in-out;
}

.fa-twitter:hover {
  color: #797979 !important;
  transition: all 0.3s ease-in-out;
}

.fa-youtube:hover {
  color: #797979 !important;
  transition: all 0.3s ease-in-out;
}

.fa-facebook:hover {
  color: #797979 !important;
  transition: all 0.3s ease-in-out;
}

.main {
  background-image:url(../img/bg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.side__panel {
  display: grid;
  grid-template-columns: 250px;
  align-items: center;
  justify-self: center;
  justify-content: flex-end;
  height: 50vh;
  z-index: 1;
  width: 100%;
  padding: 35px;
  position: relative;
  right: 100px;
}

.side__panel h2 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.side__btn {
  font-size: 1rem;
  background-color: #2971C7;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.side__btn a {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.side__btn:hover {
  background-color: #1C1997;
  transition: all 0.3s ease-in-out;
}

.center__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  padding: 0 50px;
}

.center__content h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.mom {
  width: 29%;
  align-items: center;
  justify-self: center;
  display: table;
  background: transparent;
  height: 40vh;
}
.child {
  display: table-cell;
}
.childinner {
  margin-left: 25px;
  background-color: #cccccc;
  min-height: 40px;
}

.mom2 {
  width: 75%;
  align-items: center;
  justify-self: center;
  display: table;
  background: transparent;
  height: 40vh;
  table-layout: fixed;
}

.child2 {
  display: table-cell;
}

.childinner2 {
  text-align: center;
  padding: 15px;
  margin-left: 25px;
  background-color: #1fd2db;
  min-height: 40px;
}

.child2:first-child .childinner2 {
  margin-left: 0;
}

.mom3 {
  width: 60%;
  align-items: center;
  justify-self: center;
  display: table;
  background: transparent;
  height: 40vh;
  table-layout: fixed;
}

.child3 {
  display: table-cell;
}

.childinner3 {
  text-align: center;
  padding: 15px;
  margin-left: 25px;
  background-color: #3e5243;
  min-height: 40px;
}

.child3:first-child .childinner3 {
  margin-left: 0;
}

.mom4 {
  width: 75%;
  align-items: center;
  justify-self: center;
  display: table;
  background: transparent;
  height: 40vh;
  table-layout: fixed;
}

.child4 {
  display: table-cell;
}

.childinner4 {
  text-align: center;
  padding: 15px;
  margin-left: 25px;
  background: transparent;
  min-height: 40px;
}

.child4:first-child .childinner4 {
  margin-left: 0;
}

.center__container2 {
  display: grid;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  max-width: 1920px;
  z-index: 1;
  width: 100%;
  padding: 35px;
  position: relative;
}

.center__container2 h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.center__btn {
  font-size: 1rem;
  background-color: #2971C7;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  margin: auto;
  display: block;
}

.center__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.right__btn {
  font-size: 1rem;
  background-color: #329458;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  margin: auto;
  display: block;
  left: 750px;
}

.right__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.right__btn:hover {
  background-color: #194028;
  transition: all 0.3s ease-in-out;
}

.center-block {
  margin: auto;
  display: block;
}

.center__btn:hover {
  background-color: #1C1997;
  transition: all 0.3s ease-in-out;
}

.main__img--container {
  height: 100%;
  align-items: center;
  justify-self: center;
}


.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main__btn {
  font-size: 1rem;
  background-color: #2971C7;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:hover {
  background-color: #1C1997;
  transition: all 0.3s ease-in-out;
}

.childinner h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.childinner2 h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}
.childinner2 h2 {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.mom2 img {
  display: inline;
  margin-top: 30%;
  margin-left: 0%;
  height: 175px;
  position: relative;
}

.childinner2 p {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.childinner3 h1 {
  font-size: 3rem;
  color: #940e0c;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.childinner3 h2 {
  font-size: 2rem;
  color: #d6b142;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}

.childinner3 p {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 
                1px -1px 0 #000, 
               -1px 1px 0 #000, 
                1px 1px 0 #000;
}